<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Elevinskii_UniversalList::universal_lists" title="Universal Lists" sortOrder="60">
                        <resource id="Elevinskii_UniversalList::universal_lists_entities"
                                  title="Entities"
                                  sortOrder="10" />
                        <resource id="Elevinskii_UniversalList::universal_lists_attributes"
                                  title="Attributes"
                                  sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::content">
                    <resource id="Elevinskii_UniversalList::universal_lists_items"
                              title="Universal Lists"
                              sortOrder="50" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
