<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter">
        <plugin name="universal_list_attribute_fulltext_filter"
                type="Elevinskii\UniversalList\Plugin\Framework\View\Element\UiComponent\DataProvider\FulltextFilter" />
    </type>

    <virtualType name="Elevinskii\UniversalList\Model\ResourceModel\Entity\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">universal_list_entity</argument>
            <argument name="resourceModel" xsi:type="string">
                Elevinskii\UniversalList\Model\ResourceModel\Entity
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Elevinskii\UniversalList\Ui\Component\Form\Control\Entity\SaveSplitButton"
                 type="Magento\Backend\Ui\Component\Control\SaveSplitButton">
        <arguments>
            <argument name="targetName" xsi:type="string">
                universal_list_entity_form.universal_list_entity_form
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Elevinskii\UniversalList\Ui\Component\Form\Control\Entity\DeleteButton"
                 type="Magento\Backend\Ui\Component\Control\DeleteButton">
        <arguments>
            <argument name="confirmationMessage" xsi:type="string" translatable="true">
                Are you sure you want to delete the list?
            </argument>
            <argument name="idFieldName" xsi:type="string">list_id</argument>
            <argument name="deleteRoutePath" xsi:type="string">*/*/delete</argument>
            <argument name="sortOrder" xsi:type="number">30</argument>
        </arguments>
    </virtualType>
</config>
