<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Elevinskii_UniversalList::universal_lists"
             title="Universal Lists"
             module="Elevinskii_UniversalList"
             sortOrder="60"
             parent="Magento_Backend::stores"
             resource="Elevinskii_UniversalList::universal_lists" />

        <add id="Elevinskii_UniversalList::universal_lists_entities"
             title="Entities"
             module="Elevinskii_UniversalList"
             sortOrder="10"
             parent="Elevinskii_UniversalList::universal_lists"
             action="universal_list/entity"
             resource="Elevinskii_UniversalList::universal_lists_entities" />
    </menu>
</config>
